@import "./shared.less";

.com-nav-bar { color: #2b303b; background: linear-gradient(to bottom, #cfd5e4, rgba(255,0,0,0)); display: block; height: 150px; width: 100%;
  ul {
    li {
      display: inline;
      padding: 15px;
      a {
        color: #2b303b;
        text-decoration: none;
      }
    }
  }
  .cd-logo { width: 75%; display: inline-block;  margin-top: 10px;
    .cd-logo-item { margin-left: 30px; width: 130px; height: 130px; border-radius: 50%; background-repeat: no-repeat; background-position: center center; background-size: cover;}
    .cd-title { font-size: 40px; font-weight: bolder; float: right; position: absolute; margin-top: 30px; margin-left: 30px;}
  }
  .cd-navigation { width: 25%; display: inline-block; font-size: 25px;
    .cd-navigation-links-wrapper {
      .cd-navigation-item { padding: 25px; margin-right: -30px;
        &:active, &.cd-active-link { background: #fff; border-radius: 5px; font-weight: bold; }
        &:hover { font-weight: bold; }
      }
    }
  }
}