@import "./shared.less";

.com-nav-bar { color: #2b303b; background: linear-gradient(to bottom, #cfd5e4, rgba(255,0,0,0)); display: block; height: 80px; width: 100%;
  ul {
    li {
      display: inline;
      padding: 15px;
      a {
        color: #2b303b;
        text-decoration: none;
      }
    }
  }
  .cd-logo { width: 75%; display: inline-block;  margin-top: 10px;
    .cd-logo-item { margin-left: 30px; width: 130px; height: 130px; border-radius: 50%; background-repeat: no-repeat; background-position: center center; background-size: cover; }
  }
  .cd-navigation { width: 25%; display: inline-block; margin-top: 10px;
    .cd-navigation-item {
      &:active{
        border: 1px solid #fff; background: #fff; border-radius: 5px; font-weight: bold;
      }
      &:hover { font-weight: bold; }
    }
  }
}