.resultsListWrapper {
  margin: 60px auto;
  width: 75%;
  height: 600px;
}

.resultsListWrapper .container-1{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  /*padding-left: 45px;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.resultsListWrapper .container-1 .status {
  font-size: 20px;
  position: absolute;
  top: 40%;
  color: #4f5b66;
  margin-left: 39%;
}

.resultsListWrapper .container-1 .status .icon{
  text-align: center;
  font-size: 100px;
  vertical-align: middle;
}

.resultsListWrapper .container-1 .status .message{
  font-size: 30px;
}

.resultsListWrapper .container-1 table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
.resultsListWrapper .container-1 table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
.resultsListWrapper .container-1 table a:active,
.resultsListWrapper .container-1 table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
.resultsListWrapper .container-1 table {
  width: 100%;
  height: 100%;
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
/*  font-size:12px;*/
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
 /* margin:20px;*/
  border:#2b303b 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #2b303b;
  -webkit-box-shadow: 0 1px 2px #2b303b;
  box-shadow: 0 1px 2px #2b303b;
}
.resultsListWrapper .container-1 table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.resultsListWrapper .container-1 table th:first-child {
  text-align: left;
  padding-left:20px;
}
.resultsListWrapper .container-1 table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
.resultsListWrapper .container-1 table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
.resultsListWrapper .container-1 table tr {
  text-align: center;
  padding-left:20px;
}
.resultsListWrapper .container-1 table td:first-child {
/*  padding-left:20px;*/
  border-left: 0;
}
.resultsListWrapper .container-1 table td {
  padding:30px;
/*  border-top: 1px solid #ffffff;*/
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.resultsListWrapper .container-1 table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.resultsListWrapper .container-1 table tr:last-child td {
  border-bottom:0;
}
.resultsListWrapper .container-1 table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
.resultsListWrapper .container-1 table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
.resultsListWrapper .container-1 table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
